<div style="display: flex; flex-wrap: wrap; gap: 15px; font-family: Arial, sans-serif;">
    <div
        style="width:100%; border: 1px solid #ddd; border-radius: 8px; padding: 20px; text-align: center; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
        <h3 style="margin: 0; font-size: 16px; font-weight: bold;">Modo de Usar</h3>
        <p style="margin: 5px 0; font-size: 14px; color: #555;">Dissolver 30 gotas em 100ml de água. Tomar 2 x ao dia,
            sendo antes do almoço e jantar</p>
    </div>
    <div
        style="width:100%; border: 1px solid #ddd; border-radius: 8px; padding: 20px; text-align: center; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
        <h3 style="margin: 0; font-size: 16px; font-weight: bold;">Conteúdo</h3>
        <p style="margin: 5px 0; font-size: 14px; color: #555;">Cada embalagem contém 60ml</p>
    </div>
    <div
        style="width:100%; border: 1px solid #ddd; border-radius: 8px; padding: 20px; text-align: center; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
        <h3 style="margin: 0; font-size: 16px; font-weight: bold;">Fabricação</h3>
        <p style="margin: 5px 0; font-size: 14px; color: #555;">Fabricação = Data do Pedido.</p>
    </div>
    <div
        style="width:100%; border: 1px solid #ddd; border-radius: 8px; padding: 20px; text-align: center; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
        <h3 style="margin: 0; font-size: 16px; font-weight: bold;">Validade</h3>
        <p style="margin: 5px 0; font-size: 14px; color: #555;">Validade = 6 meses.</p>
    </div>
    <div
        style="width:100%; border: 1px solid #ddd; border-radius: 8px; padding: 20px; text-align: center; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
        <h3 style="margin: 0; font-size: 16px; font-weight: bold;">Excipientes</h3>
        <p style="margin: 5px 0; font-size: 14px; color: #555;"></p>
    </div>
    <div
        style="width:100%; border: 1px solid #ddd; border-radius: 8px; padding: 20px; text-align: center; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
        <h3 style="margin: 0; font-size: 16px; font-weight: bold;">Não Contém</h3>
        <p style="margin: 5px 0; font-size: 14px; color: #555;"></p>
    </div>
</div>